<div class="d-flex justify-content-center align-items-center vh-100 page-background flex-wrap">
  <div class="swiper-container">
    <swiper [slidesPerView]="1" [spaceBetween]="100" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()"
      [navigation]="false" [loop]="true" effect="cube">
      <ng-template swiperSlide>
        <div class="employee-info" id="card-front">
          <img src="./assets/images/front.png" alt="" style="height: 532px; width: 319px;">
          <div class="employee-name">{{ employeeName }}</div>
          <div class="employee-title-en">{{ employeeTitleEn }}</div>
          <div class="employee-title">{{ employeeTitle }}</div>
          <div class="employee-mail">{{ employeeMail }}</div>
          <div class="employee-tel">{{ employeeTel }}</div>
          <div class="employee-mobile">{{ employeeMobile }}</div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div>
        <img src="./assets/images/back.png" alt="" style="height: 532px; width: 319px;">
      </div>
      </ng-template>
    </swiper>
  </div>

  <div class="inputSection flex-column d-flex justify-content-between align-items-center">
      <div class="input-group mb-3">
        <input [(ngModel)]="employeeName" type="text" class="form-control" placeholder="Employee Name"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input [(ngModel)]="employeeTitleEn" type="text" class="form-control" placeholder="Employee Title (EN)"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input [(ngModel)]="employeeTitle" type="text" class="form-control" placeholder="Employee Title"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input [(ngModel)]="employeeMail" type="text" class="form-control" placeholder="Employee Mail"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input [(ngModel)]="employeeTel" type="text" class="form-control" placeholder="Employee Tel."
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <input [(ngModel)]="employeeMobile" type="text" class="form-control" placeholder="Employee Mobile"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="w-100">
        <button type="button" on-click="downloadPDFNew()" class="btn btn-danger w-100">
          <svg style="margin-right: 8px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg>
          Generate PDF</button>
      </div>
  </div>

</div>

<router-outlet></router-outlet>